@using ChessClient.State
@implements IDisposable

@if (UiState.ShowWinAnimation)
{
    <div class="global-animation-overlay win-overlay">
        @for (int i = 0; i < 150; i++)
        {
            <div class="confetti" style="@GetConfettiStyle(i)"></div>
        }
    </div>
}

@if (UiState.ShowLossAnimation)
{
    <div class="global-animation-overlay loss-overlay">
    </div>
}