@using ChessClient.Services
@implements IDisposable

<div class="nav-menu-component @NavMenuCssClasses">
    <div class="top-row ps-3 navbar navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" href="">
                <img src="/favicon-32x32.png" alt="SchachT Logo" class="me-2" style="height: 32px;" />
                SchachT
            </a>
        </div>
    </div>

    <div class="nav-scrollable-content" @onclick="HandleContentClickAndRequestClose">
        <nav class="flex-column">
            <div class="nav-item px-3">
                <button class="nav-link btn btn-link" @onclick="RequestCreateGame" @onclick:stopPropagation="true">
                    <i class="bi bi-plus-square-fill me-2"></i>
                    Neues Spiel
                </button>
            </div>
            <div class="nav-item px-3">
                <button class="nav-link btn btn-link" @onclick="RequestJoinGame" @onclick:stopPropagation="true">
                    <i class="bi bi-box-arrow-in-right me-2"></i>
                    Spiel beitreten
                </button>
            </div>

            <div class="nav-item px-3">
                <button class="nav-link btn btn-link" @onclick="StartTour" @onclick:stopPropagation="true">
                    <i class="bi bi-magic me-2"></i>
                    Tour starten
                </button>
            </div>
        </nav>
    </div>
</div>

@if (!IsPinnedModeRequest && IsOpenAsOverlayRequest)
{
    <div class="nav-overlay-external-control show" @onclick="async () => await OnRequestCloseMenu.InvokeAsync()"></div>
}